* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #282c34;
}

.hand-area-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* flex-grow: 1; */
    width: 50%;
    /* justify-content: center; */
    justify-content: space-around;
}

.hand-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 150px;
}

.card-container {
    background: #EEE;
    width: 3rem;
    /* height: 20rem; */
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
.empty {
    background: #ffd58edf;
    width: 7rem;
    font-weight: bold;
    font-style: italic;
}

/* .app-header {
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.app-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
} */


.play-area-wrapper {
    display: inline-block;
    /* background-color: white; */
    width: 50%;
}

.player-turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #375a7f; /* #337ab7 , #0ce3ac */
    font-size: 2rem;
    color: #fff;
    width: 100%;
    height: 10%;
}

.action-container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    height: 20%;
    padding: 0 8rem;
}
.action-info {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}
.action-info > span {
    font-size: 1.5rem;
    color: #fff;
}

.action-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    height: 50%;
}
.button-rank-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; */

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 100px 200px 100px; */
    /* grid-template-areas: "head head2 . side" "main main2 . side" "footer footer footer footer"; */
}
.message-container {
    display: flex;
    background: #0ce3ac;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    width: 100%;
    height: 10%;
}
.winner {
    background: #fb8cff;
}

button {
    /* background: none; */
    background: #337ab7;
    /* background: #375a7f; */
}
button:hover {
    background-color: #fff;
    color: #444;
}
.button-action {
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    margin: 0.1rem;
    padding: 0.4rem;
    font: inherit;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}
.button-rank {
    flex: 0 0 calc(20% - 10px);
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 5px;
    padding: 20px 0px;
    outline: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}