/* --------General Stylesheet for the project ------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* min-height: 0; */
}
body {
  background: #9be1ef;
}
button {
  margin: 0 5px 0 5px;
}

/* ================= */

.landing-page-wrapper,
.lobby-action-wrapper {
  width: 100%;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lobby-action-wrapper-row {
  width: 100%;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lobby-button {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(67, 143, 67);
}
.input-text-container {
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  outline: none;
  border: 1px solid #576f72;
  text-align: center;
}

.username-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.username-container {
  text-align: center;
  padding-bottom: 10px;
}
.username-container > span {
  font-weight: bold;
  text-decoration: underline;
}

.room-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.room-info-container {
  display: flex;
  padding: 20px;
}
.room-players-container {
  width: 55%;
  padding: 40px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.player-container {
  /* height: 15vh; */
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-status-ready,
.player-status-empty,
.player-status-joined {
  /* border: 2px solid #fff; */
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
.player-status-ready {
  background: #0ba915;
}
.player-status-empty {
  background: #8a988b;
}
.player-status-joined {
  background: #e3950f;
}


.room-action-message-wrapper {
  width: 55%;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  min-height: 0;
}
.room-message-container {
  width: 60%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* min-height: 0; */
  flex: 1;
}
.message-list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
}
.message-form {
  display: flex;
  margin-top: 8px;
}
.message-form > input {
  padding-left: 5px;
  width: 100%;
}
.room-action-container {
  width: 40%;
  display: flex; 
}

.message-user {
  padding: 0 5px 0 5px;
  font-size: 0.8rem;
  font-style: italic;
  color: #eeeeee;
}
.message-text {
  font-size: 1rem;
}