html, body {
    height: 100%;
}

body {
    margin: 0;
    /* padding-bottom: 3rem; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

#new {
    display: block;
}


.home__form {
    width: 100%;
    height: 80vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.home__input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    outline: none;
    border: 1px solid #576f72;
}
.home__cta {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(67, 143, 67);
}

#app {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* min-height: 90vh; */
}

.settings {
    display: flex;
    width: 100%;
}

.formButtons {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.formButtons > input {
    /* margin: 5px; */
    padding: 10px;
    font-size: 16px;
    /* color: #fff; */
    /* background-color: rgb(67, 143, 67); */
}

#user_choice, #user_name {
    margin: 5px;
}

#app_settings {
    display: flex;
    /* flex-grow: 1; */
    width: 100%;
}
#app_gameArea {
    display: none;
    /* flex-grow: 1; */
    /* flex: 2; */
    /* margin: 100px; */
    width: 80%;
    height: 80%;
    border: 3px solid lightgray;
}

.playerHands {
    width: 100%;
}
.topArea, .midArea, .btmArea {
    width: 100%;
    height: 30%;
    display: flex;
}
.topArea, .btmArea {
    align-items: center;
    justify-content: center;
}
.midArea {
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: 0px;
    border: 1px solid black;
    /* border-radius: 5px; */
}

.userBox {
    background: rgba(0, 0, 0, 0.1);
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
}

.userBox > h2 {
    margin: 10px;
}

.userBox_recent {
    width: 20%;
    position: fixed;
    top: 83%;
}
.userBox_recent > span {
    margin: 10px;
}

#recent {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#recent > li {
    margin-left: 20px;
    font-size: 10px;
}

#users {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

#users > li > span {
    font-size: 10px;
    margin-left: 10px;
}

.messageBox {
    width: 80%;
    position: fixed;
    /* left: 20%; */
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}