<!DOCTYPE html>
<html>
  <head>
    <title>Old Maid</title>
    <link rel="stylesheet" href="game.css" />
  </head>
  <body>
    <div id="new">
      <form id="formName" class="home__form" action="#">
        <label htmlFor="username">Enter your username</label>
        <input
          id="inputName"
          type="text"
          class="home__input"
          minlength="{1}"
          required
        />
        <button class="home__cta">SIGN IN</button>
      </form>
    </div>
    <div id="app">
      <div id="app_settings">
        <form id="formGame" class="home__form" action="#">
          <span id="user_name"></span>
          <div class="formButtons">
            <input id="select_easy" type="button" value="Easy Mode" />
            <input id="select_hard" type="button" value="Hard Mode" />
          </div>
          <span id="user_choice"></span>
          <button class="home__cta">Start Game</button>
        </form>
      </div>
      <div id="app_gameArea">
        <div class="playerHands">
          <div class="topArea">
            <div id="topPlayer"></div>
          </div>
          <div class="midArea">
            <div id="leftPlayer"></div>
            <div id="rightPlayer"></div>
          </div>
          <div class="btmArea">
            <div id="btmPlayer"></div>
          </div>
          <hr />
          <div class="playerChoice">
            <span>Player Choice:</span>
            <button class="choiceButton" id="buttonTop">top</button>
            <button class="choiceButton" id="buttonLeft">left</button>
            <button class="choiceButton" id="buttonRight">right</button>
            <button class="choiceButton" id="buttonPass">pass</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.js"></script>
  </body>
</html>
